# tmp files that are definitely useless
__pycache__
.vscode
.pytest_cache
.DS_Store

# ABC configuration files
abc.rc

# environment files
.env

# scripts for running the experiments faster
scripts
Buffers

# in case some one install using 
#
#   python setup.py install
build
_build
*.egg
*.egg-info

# dont change these
*.log
*.rpt
*.txt

# LP files are large
*.ilp
*.lp
*.sol

# these are temporary files that can be easily regenerated
*.mapping
*.cuts

# the plots and 
*.pdf
*.png
!img/*.pdf
!img/*.png

# Benchmarks
*.dot
*.csv
*.json
!mapbuf_runtime/Benchmarks/EPFLBenchmarks/benchmarks/*/*.dot
!mapbuf_runtime/Benchmarks/EPFLBenchmarks/benchmarks/*/*.csv
!mapbuf_runtime/Benchmarks/EPFLBenchmarks/benchmarks/*/*.json
!Experiments/*/*.csv

# for the runtime-exp
!Experiments/*/*/*/*/*.csv
!Experiments/*/*/*/*.json

# for the 
!Experiments/*/*/*/*.json
!Experiments/*/*/*/*/*.csv
!Experiments/*/*/*/*.csv

# these are not good for visualization
*.svg
*.gv

# AIGER in EPFL benchmarks
*.aig

# temporary files
tmp.*
test.*

arch_dsp.v

# dummy
mapbuf_runtime/dummy/*
!mapbuf_runtime/dummy/src
!mapbuf_runtime/dummy/reports
mapbuf_runtime/dummy/reports/*
!mapbuf_runtime/dummy/reports/dummy.blif
!mapbuf_runtime/dummy/reports/dummy.dot

# Examples
mapbuf_runtime/Examples/*/reports/*.v
mapbuf_runtime/Examples/*/reports/*.blif
mapbuf_runtime/Examples/*/reports/*.dot
mapbuf_runtime/Examples/*/reports/*.v
mapbuf_runtime/Examples/*/reports
mapbuf_runtime/Examples/*/reports/*.v
!mapbuf_runtime/Examples/*/reports/*.blif
!mapbuf_runtime/Examples/*/reports/*.dot

# BestResults
!mapbuf_runtime/BestResults/*/*.dot
!mapbuf_runtime/BestResults/*/*.blif
!mapbuf_runtime/BestResults/*/*.cuts

# twine
dist