__pycache__

.vscode
.pytest_cache

*.sol
*.aig
*.csv
*.png
*_buf.dot
*_buf_*.dot

abc.rc


*.egg-info

RegressionTest/*.dot

scripts
Buffers
.DS_Store



# in case some one install using 
#
#   python setup.py install
build
*.egg

# dont change these
*.log
*.rpt
*.pdf
*.txt
*.ilp
*.lp
*.dot
*.blif
!RegressionTest/Benchmarks/EPFLBenchmarks/benchmarks/*/*.blif

*.svg
*.gv

# temporary files
tmp.*
test.*

arch_dsp.v

# dummy
RegressionTest/dummy/*
!RegressionTest/dummy/src
!RegressionTest/dummy/reports
RegressionTest/dummy/reports/*
!RegressionTest/dummy/reports/dummy.blif
!RegressionTest/dummy/reports/dummy.dot

