__pycache__

.vscode
.pytest_cache

*.sol
*.aig
*.csv
*.png
*_buf.dot
*_buf_*.dot

abc.rc

test.*

*.ilp

*.egg-info

RegressionTest/*.dot

scripts

Buffers

.DS_Store

*.log

dummy/*
!dummy/src
!dummy/reports
dummy/reports/*
!dummy/reports/dummy.blif
!dummy/reports/dummy.dot

tmp.py

*.rpt

# in case some one install using 
#
#   python setup.py install
build
*.egg

# dont change these
*.lp
*.dot
*.blif

*.svg
*.gv

tmp.*
